<h1>Movies:</h1>

<% @movies.each do |movie| %>
    <div class="row">
        <div class="col text-center">
            <%= movie.title %>
        </div>
    </div>
<% end %>

<%= link_to "Back", root_path, class: "btn btn-danger"%>